footer{
      background: $tertiary;
      position: relative;
}
.footerContainer{
      display: flex;
      flex-wrap: wrap;
}
.footerCompanyInfoBox{
      margin-top: 150px;
      display: flex;
       width: 33.33%;
      flex-direction: column;
      padding-bottom: 100px;
      flex-wrap: wrap;
}

.footerCompanyLogoBox{
      display: flex;
}

.footerCompanyLogo{
      display: flex;
      flex-direction: column;
}

.footerCompanyWidget{
      display: flex;
}

.footerFocusBox{
      display: flex;
}

.footerSocialMedia{
      display: flex;
}

.footerSocialBar{
      display: flex;
      justify-content: flex-end;
      padding-bottom: 60px;
}

//  FOOTER COMPANY INFO BOX STYLE ===
.footerCompanyLogo img{
      width: 40px;
      height: 40px; 
}

.footerCompanyLogo h2{
  font-family: $baseFont;
  font-size: 32px;
  color: #ffffff;
  margin: 0;
  margin-left: 10px;
}

.footerCompanyLogo span{
  color: $secondary;
}

.footerCompanyLogo h3{
  font-family: $tertiaryFont;
  font-size: 16px;
  color: #b1afaf;
  margin: 0;
  margin-left: 10px;
}

.footerCompanyLogo p{
      font-family: $secondaryFont;
      font-size: 15px;
      color:#b1afaf;
      line-height: 32px;
}

button.footerEmailButton{
       font-size: 16px;
      width: 95px;
      height: 50px;
      color: $secondary;
      background: $secondary;
      border: 1px solid $secondary;
      border-radius: 25px;
      position: absolute;
      top: 434px;
      left: 420px;
}

i.footerEmailArrow{
      font-size: 18px;
      color: #ffffff;
}

input[type="text"] {
      width: 350px;
      height: 50px;
      background: #424141;
      border: 1px solid #424141;
      padding-left: 40px;
      font-size: 16px;
      font-family: $tertiaryFont;
      position: relative;
}

input[placeholder="Your email"]{
      font-family: $tertiaryFont;
      color: #ffffff;
}
// FOOTER FOCUS BOX STYLE ====
.footerCompanyInfoBox{
      display: flex;
}

.footerFocusBox{
      display: flex;
      align-self: flex-start;
      padding-left: 60px;
}

.footerFocusBox p{
      font-family: $secondaryFont;
      font-size: 18px;
      color:  #ffffff;
}

.footerFocusNav ul{
   padding: 0;   
}

.footerFocusNav ul li{
      list-style: none;
}

.footerFocusNav ul a{
      color: #b1afaf;
      font-size: 16px;
      font-family: $tertiaryFont;
      text-decoration: none;
      line-height: 40px;
}
// FOOTER NEWS BOX ===
.footerNewsTitle p{
      font-family: $secondaryFont;
      font-size: 18px;
      color:  #ffffff; 
}
.footerNewsBox p{
      font-family: $secondaryFont;
      font-size: 18px;
      color:  #ffffff; 
}
.footerNewsText p{
      font-family: $secondaryFont;
      font-size: 15px;
      color: $secondary;
}

.footerNewsText h4{
      font-family: $tertiaryFont;
      font-size: 15px;
      color: #b1afaf;
}

button.footerButton{
      color: $secondary;
      background: $tertiary;
      border: 1px solid $tertiary;
      font-size: 15px;
}

i.footerArrow{
      font-size: 12px;
      color: #ffffff;
}
// FOOTER SOCIAL MEDIA BOX STYLE ===

.footerSocialBar i.footerIcon{
      font-size: 20px;
      color: #b1afaf;
      padding: 1%;
}

// FOOTER DISPLAY CONTAINER STYLE ===
.footerDisplayBarContainer{
      background: #313030;
      display: flex;
      justify-content: space-around;
      position: absolute;
      top: -20px;
      left: 135px;
      width: 100%;
      box-shadow:  0px 36px 0 -13px #424141;
}

.footerContactBox{
      display: flex;
      align-items: center;
}

.footerContactItems{
      display: flex;
}

.footerContactItems img{
      width: 25px;
      height: 30px;
}

.footerContactInfo p{
      font-family: $secondaryFont;
      font-size: 15px;
      color: #ffffff;
      padding-left: 15px;
}