footer{
      background: $tertiary;
}
.footerContainer{
      display: flex;
      flex-wrap: wrap;
}
.footerCompanyInfoBox{
      margin-top: 5%;
      display: flex;
       width: 33.33%;
      flex-direction: column;
      padding-bottom: 100px;
      flex-wrap: wrap;
}

.footerCompanyLogoBox{
      display: flex;
}

.footerCompanyLogo{
      display: flex;
      flex-direction: column;
}

.footerCompanyWidget{
      display: flex;
      flex-direction: column;
}

.footerFocusBox{
      display: flex;
      justify-content: space-between;
}

.footerSocialMedia{
      display: flex;
}

.footerSocialBar{
      display: flex;
      justify-content: flex-end;
      padding-bottom: 60px;
}

//  FOOTER COMPANY INFO BOX STYLE ===
.footerCompanyLogo .footerIconsBox i{
      font-size: 15px;
      padding: 13px;
      margin-top: 20px;
      color: white;
      background: #3e3b3b;
}

.footerCompanyLogo .footerCompanyWidget p{
  font-size: 22px;
  color: #ffffff;
  margin: 0;
}

.footerCompanyInfoBox p{
      font-size: 22px;
      color: #ffffff;
      margin: 0;
}

.footerCompanyInfoBox h5{
      font-size: 12px;
      color: #ffffff;
      margin-top: 13px;
}

//.footerCompanyLogo span{
//  color: $secondary;
//}

.footerCompanyLogo h3{
      font-family: $tertiaryFont;
      font-size: 14px;
      color: #ffffff;
      margin: 0;
      margin-top: 11px;

}

.footerCompanyLogo p{
      font-family: $secondaryFont;
      font-size: 15px;
      color:#b1afaf;
      line-height: 32px;
}

button.footerEmailButton{
       font-size: 16px;
      width: 95px;
      height: 50px;
      color: $secondary;
      background: $secondary;
      border: 1px solid $secondary;
      border-radius: 25px;
      position: absolute;
      top: 434px;
      left: 420px;
}

.footerNewsText{
      display: flex;
      flex-wrap: nowrap;
}

input[type="text"] {
      width: 245px;
      height: 38px;
      background: #ffffff;
      border: 1px solid #424141;
      padding-left: 10px;
      font-size: 14px;
      font-family: $tertiaryFont;
      //position: relative;
      margin-top: 12px;
}

input[placeholder="Your email"]{
      font-family: $tertiaryFont;
      color: #ffffff;
}

input[type="submit"] {
      color: #ffffff;
      width: 100px;
      height: 38px;
      background: red;
      border: 1px solid red;
      //padding-left: 40px;
      font-size: 14px;
      font-family: $tertiaryFont;
      //position: absolute;
      right: 8%;
      margin-top: 12px;
}

nav.footerFocusNav ul{
      width: 100%;
      padding: 0px;

}

.footerFocusNav ul li{
      list-style: none;
      color: white;
      font-size: 14px;
      padding: 0px;
      margin-bottom: 13px;
}

.footerFocusNav ul.second-column{
      padding-right: 40px;
}
