// COMPANY CONTENT STYLES ===
section.companyContentImageContainer{
      background-image: url(../assets/Ellipse_3.png);
      background-repeat: no-repeat;
      background-position: -10% 20%;
}

.companyContentBox.leftSide{
      float: left;
      width: calc(60% - 4%);
      padding-top: 80px;
      line-height: 1.7;
}

.companyContentBox.rightSide{
      float: left;
      width: 40%;
      min-height: 450px;
      background: $primary;
      padding: 20px 60px;
      line-height: 1.7;
      margin-top: 160px;
}
.companyContentContainer{
      position: relative;
}
.companyContentCircle img{
      width: 190px;
      height: 280px;
      position: absolute;
      top: 0;
      // left: 10;
      z-index: 1;
}
.companyContentBox p{
      font-family: $baseFont;
      font-size: 20px;
      color: $secondary;
}

.companyContentBox h2{
      font-family: $baseFont;
      font-size: 45px;
      color: $tertiary;
}

.companyContentBox h3{
      font-family: $tertiaryFont;
      font-size: 16px;
}

p.companyContentTitle{
      font-family: $baseFont;
      font-size: 18px;
      color: $tertiary;
}

button.secondaryButton{
      width: 215px;
      height: 52px;
      color: $secondary;
      background: $primary;
      border: 1px solid $primary;
      font-size: 18px;
}

i.secondaryArrow{
      font-size: 25px;
      color: $tertiary;
}
// SERVICE CONTAINER STYLE ===
section.serviceContainer{
      // width: 100%;
      // background: $primary;
      margin-top: 140px;
      background-image: url(../assets/big_rectangle_circle.jpg);
      background-repeat: no-repeat;
}
// MOTO CONTAINER STYLE ===
section.mottoContainer{
      border: 1px solid red;
      max-width: 370px;
      min-height: 310px;
      position: relative;
}
.mottoBox p{
      font-family: $baseFont;
      font-size: 20px;
      color: $tertiary;
      margin: 0;
      text-align: center;
      margin-top: 100px;
      z-index: 15;
}

.mottoBox h2{
      font-family: $baseFont;
      font-size: 50px;
      color: $secondary;
      margin: 0;
      text-align: center;
      position: relative;
      z-index: 20;
}
.mottoBox h2::after{
      content: "";
      width: 88px;
      height: 2px;
      background: $secondary;
      position: absolute;
      top: 100px;
      left: 142px;
}

.mottoBox p.bigCapital{
      font-family: $baseFont;
      font-size: 275px;
      color: #ffffff;
      margin: 0;
      text-align: center;
      position: absolute;
      top: 0px;
      left: 110px;
      z-index: 5;
}

.mottoBox p.bigCapitalP{
      font-family: $baseFont;
      font-size: 275px;
      color:#f6f3f3;
      margin: 0;
      text-align: center;
      position: absolute;
      top: 0px;
      left: 110px;
      z-index: 5;
}

.mottoBox p.bigCapitalB{
      font-family: $baseFont;
      font-size: 275px;
      color:#f6f3f3;
      margin: 0;
      text-align: center;
      position: absolute;
      top: 0px;
      left: 110px;
      z-index: 5;
}
// SERVICE GALLERY BOX STYLE ===
.serviceGalleryContainer{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 150px;
}

.serviceGalleryBox{
      background: #ffffff;
      width: 32%;
      padding: 40px;
      min-height: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
}

.serviceGalleryItems{
      flex: display;
      align-self: center;
}

.serviceGalleryBox img{
      width: 50px;
      height: 50px;
      display: flex;
}

.serviceGalleryBox h4{
      font-family: $tertiaryFont;
      font-size: 22px;
      color: $tertiary;
      text-align: center;
}

.serviceGalleryBox p{
      font-family: $tertiaryFont;
      font-size: 16px;
      color: $tertiary;
      text-align: center;
}
// SERVICE CONTENT CONTAINER ===
.serviceContentBox.leftSide{
      width: 60%;
      float: left;
      padding-top: 160px;
      padding-right: 40px;
}
.serviceContentBox.rightSide{
      width: 40%;
      float: left;
      padding-top: 200px;
}

.serviceContentBox.leftSide h2{
      font-family: $baseFont;
      font-size: 45px;
      color: $tertiary;
      position: relative;
}

.serviceContentBox.leftSide h2::after{
      content: "";
      width: 90px;
      height: 2px;
      background: $secondary;
      position: absolute;
      top: 70px;
      left: 0px;
}

p.serviceTextColor{
      font-family: $secondaryFont;
      font-size: 18px;
      color: $secondary;
}

p.serviceContentColor{
      font-family: $tertiaryFont;
      font-size: 16px;
      color: $tertiary;
}
// CONSULTING GALLERY CONTAINER ===
.consultingGalleryContainer{
      display: flex;
      justify-content: space-between;
}
.consultingGalleryBox{
      border: 1px solid $primary;
      width: 32%;
      display: flex;
      flex-direction: column;
      padding: 40px;
      margin-top: 200px;
}

.consultingGalleryItems{
      display: flex;
      align-items: center;
      align-content: space-between;
}

.consultingGalleryWidget{
      display: flex;
}

.consultingGalleryBox img{
      width: 40px;
      height: 40px;
}

.consultingGalleryBox h4{
      font-family: $tertiaryFont;
      font-size: 18px;
      color: $tertiary;
      padding-left: 10px;
}

.consultingGalleryBox p{
      font-family: $tertiaryFont;
      font-size: 16px;
      color: $tertiary;
}
// DATA GALLERY STYLE ===
section.dataGalleryContainer{
      background: $tertiary;
      display: flex;
      justify-content: space-between;
      margin-top: 200px;
}

.dataGalleryBox{
      border: 1px solid#37393b;
      width: 25%;
      display: flex;
}

.dataGalleryItems{
      flex-direction: column;
      padding: 40px 55px;
}
.dataGalleryBox img{
      width: 50px;
      height: 50px;
}

.dataGalleryBox h4{
      font-family: $tertiaryFont;
      font-size: 22px;
      color: #ffffff;
}

.dataGalleryBox p{
      font-family: $secondaryFont;
      font-weight: 700;
      font-size: 40px;
      color: $secondary;
}
// MOTTON CONTAINER STYLING ===
// MOTTO TEXT CONTAINER STYLING ===
.mottoTextItems.leftSide{
      float: left;
      width: 75%;
}
.mottoTextItems.rightSide{
      float: right;
      width: 15%;
}

.mottoTextContainer p{
      font-family: $secondaryFont;
      font-size: 20px;
      color: $tertiary;
      padding-right: 30px;
}

button.thirdButton{
      color: $secondary;
      background: #ffffff;
      border: 1px solid #ffffff;
      font-size: 16px;
      padding-top: 40px;
}

i.thirdArrow{
      font-size: 16px;
      color: $secondary;
}
// PROJECT GALLERY STYLE ===
.projectGalleryContainer{
      display: flex;
}

.projectGalleryBox{
      width: 30%;
      margin: 1%;
      display: flex;
      margin-top: 65px;
}
// CONSULTANT CONTAINER STYLE ===
section.consultantContainer{
      background: $secondary;
      margin-top: 150px;
}

.consultantBox.leftSide{
      float: left;
      width: 30%;
      margin-top: 100px;
      margin-bottom: 100px;
}

.consultantBox.rightSide{
      float: left;
      width: 70%;
      padding: 20px 40px;
      margin-top: 100px;
}
.consultantBox p{
      font-family: $secondaryFont;
      font-size: 20px;
      color: #ffffff;
      text-align: center;
}

.consultantBox h3{
      font-family: $secondaryFont;
      font-size: 22px;
      color: #ffffff;
      text-align: center;
}

.consultantBox h4{
      font-family: $secondaryFont;
      font-size: 16px;
      color: #ffffff;
      text-align: center;
}

.consultantBubbleBar{
      margin-left: 44%;
}

.consultantBoxSlider{
      width: 25px;
      height: 15px;
      background: #ffffff;
      border-radius: 8px;
      display: inline-block;
      margin: 2px;
}
// RESULT GALLERY CONTAINER STYLE ===
.resultGalleryContainer{
      display: flex;
}
.resultGalleryBox{
      width: 33.33%;
      padding: 1%;
      margin-top: 100px;
}

.resultGalleryContent p{
      font-family: $secondaryFont;
      font-size: 18px;
      color: $secondary;
      line-height: 2;
}

.resultGalleryContent h4{
      font-family: $tertiaryFont;
      font-size: 16px;
      color: $tertiary;
      line-height: 2;
}

.resultGalleryContent h5{
      font-family: $tertiaryFont;
      font-size: 16px;
      color: $secondary;
}
// CLIENT CONTAINER STYLE ===
.clientContainer{
      display: flex;
      justify-content: space-between;
}

.clientBox{
      padding-top: 110px;
      padding-bottom: 140px; 
      display: flex;
}
section.clientPartners{
      background: $secondary;
      margin-top: 130px;
}

.clientBox img{
      width: 195px;
      height: 50px;
}