/* Portrait tablet and small desktops */
@media (max-width: 940px) {
     .wrapper{
          width: 90%;
     }
     .headerContactFB{
           display: none;
     }
     i.headerNavIcon{
           display: none;
     }
     .headerNavBox img{
           display: none;
     }
     .headerImageText h1{
          font-size: 50px;
     }
     .headerImageText p{
          font-size: 16px;
     }
     button.primaryButton{
          width: 181px;
          height: 45px;
          font-size: 14px;
     }
     i.primaryArrow{
          font-size: 18px;
     }

     .headerTextBox button{
           display: none;
     }
     .companyContentBox.leftSide{
          width: calc(100% - 4%);
     }
     .companyContentBox.rightSide{
          width: 100%;
     }
     .serviceContentBox.leftSide{
          width: 100%;
     }
     .serviceContentBox.rightSide {
           width: 100%;
     }
     .consultantBox.leftSide {
           width: 100%;
     }
     .consultantBox.rightSide{
          width: 100%;
     }
     .footerDisplayBarContainer{
           display: none;
     }
     .footerCompanyInfoBox{
           width: 100%;
           align-items: center;
     }
     .footerCompanyLogo p{
           text-align: center;
     }
     .footerFocusBox{
           margin: 0 auto;
           text-align: center;
     }
     .footerSocialBar{
           justify-content: center;
     }
     
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
     .wrapper{
          width: 90%;
     }
     .headerContactBox{
          flex-wrap: wrap;
     }
     .headerImageText h1{
          font-size: 16px;
     }
     .headerImageText p{
          font-size: 10px;
     }
     button.primaryButton{
          width: 150px;
          height: 25px;
          font-size: 10px;
     }
     i.primaryArrow{
          font-size: 10px;
          top: 0px;
     }
     .headerTextBox{
           flex-wrap: wrap;
     }
     .headerTextBox button{
           display: none;
     }
     .companyContentBox.leftSide{
          width: calc(100% - 4%);
     }
     .companyContentBox.rightSide{
          width: 100%;
     }
     .serviceGalleryBox{
          width: 100%;
     }
     .serviceContentBox.leftSide{
          width: 100%;
     }
     .serviceContentBox.rightSide{
          width: 100%;
     }
     .consultingGalleryBox{
          width: 100%;
     }
     .consultantBox.leftSide{
          width: 100%;
     }
     .consultantBox.rightSide{
          width: 100%;
     }
     section.dataGalleryContainer{
          width: 100%;
     }
     .projectGalleryContainer{
          width: 100%;
     }
     .mottoTextItems.leftSide{
          width: 100%;
     }
     .mottoTextItems.rightSide{
          width: 100%;
     }
     .resultGalleryBox{
          width: 100%;
     }
     .clientBox{
          width: 100%;
          justify-content: center;
     }
     .footerCompanyInfoBox{
          width: 100%;
     }

}

/* Landscape phones and down */
@media (max-width: 480px) {
      .headerTextBox{
            display: none;
      }
      .headerImageText{
            padding: 22px 34px;
            margin: 7px 59px;
      }
      .headerNavContainer{
            display: none;
      }
}