$primary: #f5f4f4;
$secondary: #2f87fd;
$tertiary:#202020;
$baseFont: 'Playfair Display', serif;
$secondaryFont: 'Poppins', sans-serif;
$tertiaryFont: 'Source Sans Pro', sans-serif;

@import "components/setup";
@import "components/header";
@import "components/main";
@import "components/footer";
@import "components/variables";
@import "components/mediaquery";

html{
  font-size: 62.5%;
}

img{
  width: 100%;
  // display: block;
}

.wrapper{
  max-width: 1170px;
  margin: 0 auto;
  width: 90%;
}


//  ==== HOW TO MAKE SCSS PARTIAL FILES =======
// MAKE THE PARTIAL
// SAVE THE PARTIAL
// DELETE THE PARTIAL
// IMPORT THE PARTIAL
// SAVE style.scss

// ==== HOW TO CODE MIXIN =======
// @mixin primaryButton($primaryButton) {
//     font-size: $sizeValue;
//     color: blue;
//     font-weight: bold;
// }
